<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta charset="utf-8" />
<title>{{ page.title }} - {{ site.title }}</title>
<link rel="alternate" href={{ site.url | absolute_url | append: "/fr/" }}
hreflang="fr" />
<link
  rel="alternate"
  href="{{"
  site.url
  |
  absolute_url
  }}
  hreflang="x-default"
/>
<link
  rel="stylesheet"
  rel="preconnect"
  href="https://cdnjs.cloudflare.com/ajax/libs/spectre.css/0.5.9/spectre.min.css"
  crossorigin
/>
<!-- https://web.dev/render-blocking-resources/?utm_source=lighthouse&utm_medium=lr -->
<link
  rel="preload"
  href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css"
  as="style"
  onload="this.onload=null;this.rel='stylesheet'"
/>
<noscript>
  <link
    rel="stylesheet"
    href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css"
  />
</noscript>
{% capture styles %} {% include styles.scss %} {% endcapture %}
<style>
  {{ styles | scssify }}
</style>
<!-- Global site tag (gtag.js) - Google Analytics -->
<!-- <script
  async
  src="https://www.googletagmanager.com/gtag/js?id=UA-177005552-1"
></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());
  gtag("config", "UA-177005552-1");
</script> -->
