<!--based on https://embedresponsively.com/ -->
<style>
  .embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
  }
  .embed-container iframe,
  .embed-container object,
  .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
</style>
<h2 style="color: lightgrey">GAMEPLAY</h2>
<div class="embed-container">
  <iframe
    width="88%"
    height="200%"
    src="https://www.youtube-nocookie.com/embed/_XZnipQivmM?controls=0"
    frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>
</div>

<h2 style="color: lightgrey; margin-top: 2rem">INFO</h2>
Coming soon!
