<h2 style="color: lightgrey">{{ site.data.info.video[page.lang] }}</h2>

{% include youtube_video.html youtube_id = "FcCxodwAO-g" %}

<!-- -- -->
{% include newsletter.html %}

<h2 style="color: lightgrey; margin-top: 2rem">
  {{ site.data.info.info[page.lang].title }}
</h2>

<div style="display: flex; justify-content: space-between; align-items: center">
  <p>
    <a href="/bestiary"
      ><u>{{ site.data.info.info[page.lang].feature-creatures }}</u></a
    >
  </p>
  <img
    src="/assets/images/features/0_creatures_small.gif"
    loading="lazy"
    alt=""
    width="279"
    height="162"
    style="width: 45%; height: 45%; image-rendering: pixelated"
  />
</div>

<div class="info-feature">
  <img
    src="/assets/images/features/1_capture.gif"
    loading="lazy"
    alt=""
    width="1678"
    height="979"
    style="width: 45%; height: 45%"
  />
  <p>{{ site.data.info.info[page.lang].feature-capture }}</p>
</div>

<div class="info-feature">
  <p>{{ site.data.info.info[page.lang].feature-map }}</p>
  <img
    src="/assets/images/features/2_map.gif"
    loading="lazy"
    alt=""
    width="1678"
    height="979"
    style="width: 45%; height: 45%"
  />
</div>

<div class="info-feature">
  <img
    src="/assets/images/features/3_battle.gif"
    loading="lazy"
    alt=""
    width="1678"
    height="979"
    style="width: 45%; height: 45%"
  />
  <p>{{ site.data.info.info[page.lang].feature-battle_system }}</p>
</div>

<!-- footer -->
<div class="info-footer">
  <a href="/presskit">📰 <u>PressKit</u></a>
  <a href="/bestiary">
    🐾 <u>{{ site.data.info.info[page.lang].bestiary }}</u></a
  >
</div>
