<h2 style="color: lightgrey">
  {{ site.data.info.newsletter[page.lang].social_media }}
</h2>
<div>
  <a href="https://twitter.com/_ldd" class="lab la-twitter"></a>
  <a href="https://www.discord.gg/u64Mg4X" class="lab la-discord"></a>
  <a
    href="https://www.youtube.com/channel/UC39oc5Sq-ICfURiBrZyq1kg"
    class="lab la-youtube-square"
  ></a>
  <!-- <a
    href="https://www.patreon.com/bePatron?u=40946367"
    class="lab la-patreon"
  ></a> -->
  <a href="/feed.xml" class="las la-rss"></a>
</div>
