<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="alternate" href={{ site.url | absolute_url | append: "/fr/" }}  hreflang="fr" />
    <link rel="alternate" href={{ site.url | absolute_url }}  hreflang="x-default" />
        <link rel="stylesheet" rel="preconnect" href="https://unpkg.com/spectre.css/dist/spectre.min.css" crossorigin>
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    {% capture styles %}
    {% include styles.scss %}
    {% endcapture %}
    <style>
      {{ styles | scssify }}
    </style>
  </head>
  <body>
    {% include header.html %}
    <div class="container">
      <div class="columns">
        <div class="column col-2 col-sm-12">
          <div class="blog-content">
            <h2 style="color: lightgrey;">{{ site.data.info.updates[page.lang] }}</h2>
            {% include posts.md %}
        </div> 
        </div>
          <div class="column col-6 col-mx-auto col-sm-12">
            {{ content }}
        </div>
        <div class="column col-3 col-sm-12" style="order: 2">
          {% include social_media.html %}
        </div>
      </div>

      <div class="columns" style="margin-top:3rem;">
        <div class="column col-4 col-mx-auto col-sm-12">
      </div> 
      </div>

    </div>
  </body>
</html>


